* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 50%; /* 1rem = 8px */
}

body {
    font-family: "Lato", sans-serif;
    padding: 0;
    min-height: 100vh;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.btn {
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
    padding: 0.6rem 1.2rem;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 5px;
    transition: opacity 0.2s;
}

.btn:hover {
    opacity: 0.8;
}

.btn--login {
    background-color: #d0ebff;
    color: #1864ab;
}

.btn--submit {
    background-color: #fff3bf;
    color: #e67700;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    /* background-color: #f8f9fa; */
    border-bottom: 1px solid #e9ecef;
    flex-basis: auto;
}

.main {
    background-color: #f8f9fa;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.messages-section {
    padding: 1.2rem 3.2rem;
    flex: 1;
}

.form-section {
    margin-top: auto;
    border-top: 1px solid #e9ecef;
}

.form {
    display: flex;
    padding: 1.4rem 1.8rem;
    gap: 1.4rem;
}

.input {
    display: block;
    border: none;
    background: none;
    flex: 1;
    padding: 0.8rem 1.6rem;
    font-family: inherit;
    color: #343a40;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #f1f3f5;
    border-radius: 5px;
}

.input::placeholder {
    color: #adb5bd;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.logo__icon {
    font-size: 2rem;
    color: #339af0;
}

.logo__text {
    font-size: 2rem;
    font-weight: 700;
    color: #339af0;
}
